@font-face {
 
    font-family: "DSari";
    font-weight: normal;
    font-style: "Regular";
    src: url("../fonts/dsari-bold.woff2") format("woff2"),
    url("../fonts/dsari-bold.woff") format("woff");
}