@charset "UTF-8";

@import 'vendor/icofont/_icofont';
@import 'vendor/normalize/_normalize';
@import '_fonts';

* {
    box-sizing: border-box;
}

html {
    background: #333;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    align-items:flex-end;

    header, main, footer {
        padding: 1em;
        width: 100%;
    }

    header {
        background: #b74215;
        min-height: 50px;
        flex: 1 0 75px;

        // Notice because we are using a slot, we can include all the default styles in this locations
        div.signin {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            button {
                font-family: DSari;
                border: 0;
                background: transparent;

                &:hover {
                    text-decoration: underline;
                }
            }
        }


    }

    main {
        background: #FFF;
        flex: 1;
    }

    footer {
        background: #333;
        flex-basis: 100px;
        min-height: 200px;
    }

}